nav {
  list-style-type: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333
    
  
}

li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 50px;
  float: left;
}

li a:hover {
  background-color: wheat;
  color:black;
    
 h1 {
  color: #A997DF;
  text-decoration; 
  border-style: dotted;
   font-family: verdana;
  text-indent: 50px
 
}

body {
  h2{
    color: darkgreen;
    
}
img:hover {
  width: 400px;
  transition: width 2s;
  padding: 5px;
  
} 

}
