nav {
  list-style-type: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333
    
  
}

li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 50px;
  float: left;
}

li a:hover {
  background-color: wheat;
  color:black;
  
body {    
  
 h1 {
  color: #A997DF;
  text-decoration-line: underline;
 text-decoration-style: wavy;
   font-family: verdana;
  text-indent: 50px
}

 background-color: darkgreen
}
img:hover {
  width: 400px;
  transition: width 2s;
}

